.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100dvh;
  background: #f5f7fb;

  &__content {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__page {
    padding: 24px;
  }
}
